In [ ]:
import numpy as np
import tensorflow as tf
import sklearn
import pandas as pd
import os
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
overall_list = pd.read_csv('../../data/datasets/item/overall_list.csv', sep=',', encoding='utf-8')
detail_list = pd.read_csv('../../data/datasets/item/detail_list.csv', sep=',', encoding='utf-8')

In [3]:
overall_list.head()

,id,avg_rating,n_reviews,n_rate_5,n_rate_4,n_rate_3,n_rate_2,n_rate_1,rate_with_img
0,112329645,4.5,20,14,3,2,1,0,0
1,2454355,4.7,365,309,38,4,4,10,60
2,2454359,4.8,432,383,26,11,2,10,58
3,2454353,4.8,367,324,25,6,2,10,60
4,98565212,4.7,276,240,15,5,3,13,49

In [4]:
detail_list.head()

,id,name,category,brand,price,discount,discount_rate,mota,image_url,n_sold,rank,main_category
0,112329645,1 gói Chân Gà CHEF BIGGY Vị Cay,Bách Hóa Online/Đồ Ăn Vặt/Các Loại Đồ Ăn Vặt Khác,CHEF BIGGY,10000,0,0,* Chân Gà CHEF BIGGY Vị Cay \n- Toàn bộ nguyê...,https://salt.tikicdn.com/cache/280x280/ts/prod...,860.0,1.0,bach-hoa-online
1,2454355,Thùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yomost ...,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Yomost,360000,0,0,\n\nThùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yom...,https://salt.tikicdn.com/cache/280x280/ts/prod...,2788.0,1.0,bach-hoa-online
2,2454359,Thùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yomost ...,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Yomost,360000,0,0,\n\nThùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yom...,https://salt.tikicdn.com/cache/280x280/ts/prod...,1591.0,9.0,bach-hoa-online
3,2454353,Thùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yomost ...,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Yomost,319000,41000,11,\n\nThùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yom...,https://salt.tikicdn.com/cache/280x280/ts/prod...,2186.0,7.0,bach-hoa-online
4,98565212,Thùng 24 Lon Nước Ngọt Có Gaz Pepsi (320ml/lon),Bách Hóa Online/Đồ Uống Không Cồn/Đồ uống có g...,Pepsi,186000,2000,1,\nPepsi là nhãn hiệu nước giải khát hương Cola...,https://salt.tikicdn.com/cache/280x280/media/c...,1511.0,4.0,bach-hoa-online

In [6]:
full_df = pd.merge(detail_list, overall_list, how='inner', on='id')
full_df.head(3)

,id,name,category,brand,price,discount,discount_rate,mota,image_url,n_sold,rank,main_category,avg_rating,n_reviews,n_rate_5,n_rate_4,n_rate_3,n_rate_2,n_rate_1,rate_with_img
0,112329645,1 gói Chân Gà CHEF BIGGY Vị Cay,Bách Hóa Online/Đồ Ăn Vặt/Các Loại Đồ Ăn Vặt Khác,CHEF BIGGY,10000,0,0,* Chân Gà CHEF BIGGY Vị Cay \n- Toàn bộ nguyê...,https://salt.tikicdn.com/cache/280x280/ts/prod...,860.0,1.0,bach-hoa-online,4.5,20,14,3,2,1,0,0
1,2454355,Thùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yomost ...,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Yomost,360000,0,0,\n\nThùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yom...,https://salt.tikicdn.com/cache/280x280/ts/prod...,2788.0,1.0,bach-hoa-online,4.7,365,309,38,4,4,10,60
2,2454359,Thùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yomost ...,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Yomost,360000,0,0,\n\nThùng 48 Hộp Sữa Chua Lên Men Tự Nhiên Yom...,https://salt.tikicdn.com/cache/280x280/ts/prod...,1591.0,9.0,bach-hoa-online,4.8,432,383,26,11,2,10,58

In [9]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24785 entries, 0 to 24784
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             24785 non-null  int64
 1   name           24785 non-null  object
 2   category       24785 non-null  object
 3   brand          22710 non-null  object
 4   price          24785 non-null  int64
 5   discount       24785 non-null  int64
 6   discount_rate  24785 non-null  int64
 7   mota           24783 non-null  object
 8   image_url      24785 non-null  object
 9   n_sold         22958 non-null  float64
 10  rank           16421 non-null  float64
 11  main_category  24785 non-null  object
 12  avg_rating     24785 non-null  float64
 13  n_reviews      24785 non-null  int64
 14  n_rate_5       24785 non-null  int64
 15  n_rate_4       24785 non-null  int64
 16  n_rate_3       24785 non-null  int64
 17  n_rate_2       24785 non-null  int64
 18  n_rate_1       24785 non-null  int64
 19  rate_with_img  24785 non-null  int64
dtypes: float64(3), int64(11), object(6)
memory usage: 4.0+ MB

In [23]:
full_df.loc[full_df['price'].isnull()]

Empty DataFrame
Columns: [id, name, category, brand, price, discount, discount_rate, mota, image_url, n_sold, rank, main_category, avg_rating, n_reviews, n_rate_5, n_rate_4, n_rate_3, n_rate_2, n_rate_1, rate_with_img]
Index: []

In [24]:
full_df.loc[full_df['avg_rating'].isnull()]

Empty DataFrame
Columns: [id, name, category, brand, price, discount, discount_rate, mota, image_url, n_sold, rank, main_category, avg_rating, n_reviews, n_rate_5, n_rate_4, n_rate_3, n_rate_2, n_rate_1, rate_with_img]
Index: []

In [ ]:
full_df.loc[full_df['price'].isnull()]

In [25]:
full_df.loc[full_df['n_reviews'].isnull()]

Empty DataFrame
Columns: [id, name, category, brand, price, discount, discount_rate, mota, image_url, n_sold, rank, main_category, avg_rating, n_reviews, n_rate_5, n_rate_4, n_rate_3, n_rate_2, n_rate_1, rate_with_img]
Index: []

In [26]:
full_df.loc[full_df['rank'].isnull()]

,id,name,category,brand,price,discount,discount_rate,mota,image_url,n_sold,rank,main_category,avg_rating,n_reviews,n_rate_5,n_rate_4,n_rate_3,n_rate_2,n_rate_1,rate_with_img
9,98190526,Nấm Hương Khô Cao Bằng 100g,Bách Hóa Online/Thực phẩm Đóng hộp và Khô/Thực...,3S,35000,0,0,"Nấm hương khô Cao Bằng loại đặc biệt, nấm hươn...",https://salt.tikicdn.com/cache/280x280/ts/prod...,375.0,NaN,bach-hoa-online,4.5,34,23,9,0,1,1,3
28,54076939,Nhà Gỗ Gác Mái Hiện Đại Và Sang Trọng Dành Cho...,Bách Hóa Online/Chăm sóc thú cưng/Phụ kiện thú...,OEM,900000,0,0,Nhà Gỗ Chó Mèo Gác Mái DH001\nNhà gỗ cho chó D...,https://salt.tikicdn.com/cache/280x280/ts/prod...,7.0,NaN,bach-hoa-online,4.8,4,3,1,0,0,0,0
56,2287771,Lốc 6 Chai Nước Giải Khát Mirinda Cam (390ml/c...,Bách Hóa Online/Đồ Uống Không Cồn/Đồ uống có g...,Mirinda,35000,15000,30,"Được sản xuất trên dây chuyền hiện đại, không ...",https://salt.tikicdn.com/cache/280x280/media/c...,189.0,NaN,bach-hoa-online,4.9,9,8,1,0,0,0,1
71,114684809,"[Lốc (06) chai 350ml] Bibabibo Sữa Cam, sữa tr...",Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,BibaBibo,66000,0,0,Sữa trái cây Bibabibô cam kết về chất lượng sả...,https://salt.tikicdn.com/cache/280x280/ts/prod...,2.0,NaN,bach-hoa-online,5.0,1,1,0,0,0,0,0
78,21224416,Lưới Khử Mùi Bồn Tiểu Nam & Ống Cống - Wave Fr...,Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà c...,Fresh,74000,0,0,Sản phẩm có 2 thành phần quan trọng: hoạt tính...,https://salt.tikicdn.com/cache/280x280/ts/prod...,394.0,NaN,bach-hoa-online,4.6,38,30,4,2,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24779,48164975,Khóa học Lập trình điều khiển robot mBot với S...,Voucher - Dịch vụ/Khóa học/Khóa học IT và lập ...,NaN,602500,222500,27,Khóa học lập trình điều khiển robot mBot với n...,https://salt.tikicdn.com/cache/280x280/ts/prod...,NaN,NaN,voucher-dich-vu,0.0,0,0,0,0,0,0,-1
24780,37687523,Tour BÌNH BA - ĐẢO TÔM HÙM 2N2Đ,Voucher - Dịch vụ/Du lịch - Khách sạn/Tour du ...,NaN,1890000,0,0,Đêm 01: HỒ CHÍ MINH - CAM RANH\n22h:00: Xe và ...,https://salt.tikicdn.com/cache/280x280/ts/prod...,NaN,NaN,voucher-dich-vu,0.0,0,0,0,0,0,0,-1
24781,48759452,[HCM] Tour 5N4Đ Hà Nội - Sapa - Hạ Long - Tràn...,Voucher - Dịch vụ/Du lịch - Khách sạn/Tour du ...,NaN,6135000,0,0,"\nNGÀY 1: TP.HCM - HÀ NỘI - SAPA (Ăn trưa, tối...",https://salt.tikicdn.com/cache/280x280/ts/prod...,NaN,NaN,voucher-dich-vu,0.0,0,0,0,0,0,0,-1
24782,17912191,Liệu Trình Đắp Mặt Nạ Thuốc Bắc Hạ Thổ Lòng Đỏ...,Voucher - Dịch vụ/Spa & Làm đẹp/Chăm sóc da mặt,NaN,350000,0,0,"\nTheo năm tháng, các phương pháp làm đẹp sau ...",https://salt.tikicdn.com/cache/280x280/ts/prod...,NaN,NaN,voucher-dich-vu,0.0,0,0,0,0,0,0,-1
24783,3110709,"Vé Xe Limousine Sài Gòn - Mũi Né, Khởi Hành 09...",Voucher - Dịch vụ/Du lịch - Khách sạn/Vé tham ...,NaN,290000,0,0,"Nếu bạn là một người yêu nắng và gió,chuộng vẻ...",https://salt.tikicdn.com/cache/280x280/ts/prod...,NaN,NaN,voucher-dich-vu,0.0,0,0,0,0,0,0,-1

In [7]:
y = full_df['n_sold']
print(y.shape)

(24785,)

In [36]:
category = pd.get_dummies(full_df['main_category'], drop_first=True)

In [27]:
price=full_df[['price']]
avg_rating = full_df[['avg_rating']]
n_reviews=full_df[['n_reviews']]
discount = full_df[['discount']]
discount_rate = full_df[['discount_rate']]

In [28]:
class Metrics():
    def computeMSE(y_true, y_pred):
        return np.mean((y_true-y_pred)**2)

    def computeMAE(y_true, y_pred):
        return np.mean(np.abs(y_true-y_pred))

    def computeSIA(y_true, y_pred, eps=500): 
        error = np.abs(y_true - y_pred)
        res = np.mean(((error - eps) < 0 ) & (y_pred >= 0))
        return res

<H3>Decision Tree Regression<H3>

In [29]:
feature_list = [category, 
                price,
                avg_rating, 
                n_reviews, 
                discount,
                discount_rate,

                # n_rate_5,
                # n_rate_4,
                # n_rate_3,
                # n_rate_2,
                # n_rate_1,

                ]

In [30]:
X = np.hstack(feature_list)
X

array([[  0.,   0.,   0., ...,  20.,   0.,   0.],
       [  0.,   0.,   0., ..., 365.,   0.,   0.],
       [  0.,   0.,   0., ..., 432.,   0.,   0.],
       ...,
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.]])

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)
print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)
print(X_test.shape, y_test.shape)

(15862, 29) (15862,)
(3966, 29) (3966,)
(4957, 29) (4957,)

In [33]:
model = RandomForestRegressor()
model = model.fit(X_train, y_train)

NameError: name 'RandomForestRegressor' is not defined