In [6]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [27]:
INPUT = '../../data/crawl_data/categories'

In [28]:
print('Các nhãn trong dữ liệu')
print('----------------------')
for label in os.listdir(INPUT):
    print(f'{label}')

Các nhãn trong dữ liệu
----------------------
bach-hoa-online
dien-gia-dung
dien-thoai-may-tinh-bang
do-choi-me-be
hang-quoc-te
laptop-may-vi-tinh-linh-kien
nha-cua-doi-song
nha-sach-tiki
o-to-xe-may-xe-dap
thiet-bi-kts-phu-kien-so
thoi-trang-nam
thuc-pham-tuoi-song
tui-thoi-trang-nam

In [29]:
print("dien-thoai-may-tinh-bang")
items = pd.read_csv('../../data/crawl_data/categories/dien-thoai-may-tinh-bang/item_detail.csv', sep=',', encoding='utf-8')
print(items.shape)
items.head()

dien-thoai-may-tinh-bang
(422, 9)

,id,name,price,category,brand,brand orgin,orgin,sku,mota
0,83492084,Máy Tính Bảng Samsung Galaxy Tab S7 Wifi T870 ...,12290000,Điện Thoại - Máy Tính Bảng/Máy tính bảng,Samsung,Hàn Quốc,Việt Nam/Ấn Độ/Trung Quốc (Tùy từng đợt nhập h...,6540022360710,"Tính di động của máy tính bảng, hiệu suất của ..."
1,139815601,Điện thoại Nokia 6300 4G - Hàng chính hãng,1119000,Điện Thoại - Máy Tính Bảng/Điện thoại phổ thông,Nokia,Phần Lan,Trung Quốc,8903610997621,Điện thoại Nokia 6300 4G là mẫu điện thoại cổ ...
2,99376042,Điện Thoại Samsung Galaxy M12 (4GB/64GB) - Hàn...,3709000,Điện Thoại - Máy Tính Bảng/Điện thoại Smartphone,Samsung,Hàn Quốc,Việt Nam/Ấn Độ/Trung Quốc (Tùy từng đợt nhập h...,3343515301327,"Màn Hình Rộng, Trải Nghiệm Nhiều Hơn\nĐiện Tho..."
3,133776058,Máy đọc sách Kindle paperwhite 5 - 11th 2021 L...,4250000,Điện Thoại - Máy Tính Bảng/Máy đọc sách,OEM,-1,Mỹ,2708493721172,Máy đọc sách Kindle paperwhite gen 5 thế hệ 11...
4,99376042,Điện Thoại Samsung Galaxy M12 (4GB/64GB) - Hàn...,3709000,Điện Thoại - Máy Tính Bảng/Điện thoại Smartphone,Samsung,Hàn Quốc,Việt Nam/Ấn Độ/Trung Quốc (Tùy từng đợt nhập h...,3343515301327,"Màn Hình Rộng, Trải Nghiệm Nhiều Hơn\nĐiện Tho..."

In [30]:
print("bach-hoa-online")
items = pd.read_csv('../../data/crawl_data/categories/bach-hoa-online/item_detail.csv', sep=',', encoding='utf-8')
print(items.shape)
items.head()

bach-hoa-online
(480, 9)

,id,name,price,category,brand,brand orgin,orgin,sku,mota
0,134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."
1,141837724,"Bánh gạo ngọt Cúc Cu 130g, không qua chiên dầu...",15000,Bách Hóa Online/Đồ Ăn Vặt/Bánh kẹo khác,Tràng An,Việt Nam,Việt Nam,2746878157322,\n\n\n\nBÁNH GẠO CÚC CU - THƠM NGON CHUẨN GU\n...
2,68841415,Thùng Sữa Chua Uống Lên Men Tự Nhiên Dutch Lad...,274000,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Dutch Lady,Việt Nam,Việt Nam,5050032447002,Được làm từ 100% sữa lên men tự nhiên \nGiúp d...
3,140161010,Lạp xưởng tươi Tiêu Sọ – Thành Hiệp Long – H...,101000,Bách Hóa Online/Thực phẩm Đóng hộp và Khô/Đặc ...,Thành Hiệp Long,Việt Nam,Việt Nam,6196840671139,- Được sản xuất tương tự như lạp xưởng tươi tr...
4,130084171,Cà phê rang xay Original 1 - The Coffee House ...,48000,Bách Hóa Online/Đồ uống - Pha chế dạng bột/Cà phê,The Coffee House,Việt Nam,Việt Nam,1248124582745,Khởi đầu buổi sáng tại nhà bằng một ly cà phê ...

In [31]:
users = pd.read_csv('../../data/datasets/user/user_info.csv', sep=',', encoding='utf-8-sig')
users.head()

,user_id,fullname,name,region,joined_time,total_thank,total_review
0,18347780,Phạm Thuỳ Giang,Phạm Thuỳ Giang,NaN,Đã tham gia 1 năm,0,1
1,1508264,Phương Linh,Phương Linh,NaN,Đã tham gia 5 năm,0,1
2,18310621,Huynh Lan Thao,Huynh Lan Thao,NaN,Đã tham gia 1 năm,0,13
3,17478810,Phạm Thị Mỹ Hoa,Phạm Thị Mỹ Hoa,NaN,Đã tham gia 2 năm,4,10
4,125522,Trần Lại Ngọc Tuyền,Trần Lại Ngọc Tuyền,NaN,Đã tham gia 9 năm,3,14

In [23]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32252 entries, 0 to 32251
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       32252 non-null  int64
 1   fullname      32224 non-null  object
 2   name          32222 non-null  object
 3   region        0 non-null      float64
 4   joined_time   32252 non-null  object
 5   total_thank   32252 non-null  int64
 6   total_review  32252 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ MB

In [24]:
rating = pd.read_csv('../../data/datasets/ratings/data.csv', sep=',', encoding='utf-8-sig')
rating.head(5)

,user id,item id,rating,timestamp,comment
0,11535573,134309716,1,1637755666,"đơn thanh toán rồi, không nhận được hàng nhưng..."
1,14234089,134309716,5,1637493778,Nhận được hàng quá đỗi vui mừng luôn vì đặt cũ...
2,8635387,134309716,5,1636985615,"Bia Tết, date xa 10/2022, m mua flash sale trê..."
3,7505804,134309716,5,1637666887,"Hàng tốt , giao hàng nhanh . Đóng gói kỹ. Hàng..."
4,1426225,134309716,5,1636724569,"Đóng gói cẩn thận, giao hàng nhanh. SP date mớ..."

In [25]:
rating_quantity_per_user = rating['user id'].value_counts()
rating_quantity_per_user

10379220    35
7707732     31
59737       28
1064154     28
19336601    26
            ..
1545158      1
16078753     1
16468748     1
5524722      1
10982765     1
Name: user id, Length: 140804, dtype: int64

In [16]:
user_id_corr_quantity = rating['user id'].value_counts().index.tolist()
user_id_corr_quantity

[10379220,
 7707732,
 59737,
 1064154,
 19336601,
 1052728,
 20143088,
 19342192,
 7640422,
 1947561,
 1704561,
 494671,
 7966417,
 20732538,
 6330946,
 7178520,
 21500023,
 6275426,
 9635482,
 2146616,
 23427244,
 10101664,
 151415,
 6946909,
 6106142,
 11310953,
 7622941,
 621107,
 16364115,
 677356,
 764745,
 9718468,
 13384837,
 11973545,
 8376989,
 1394862,
 5339779,
 21533711,
 12449847,
 19309767,
 6366393,
 22790518,
 490032,
 21713691,
 22788655,
 1874994,
 9777966,
 1476601,
 391157,
 8503712,
 13513902,
 547020,
 10476577,
 21084270,
 22746070,
 1969492,
 20075116,
 7683027,
 15328235,
 2062783,
 20435998,
 6267015,
 11665416,
 1642224,
 1591182,
 694542,
 23940548,
 14824539,
 3867,
 20436142,
 643976,
 12652219,
 1934115,
 1466599,
 17723055,
 20582848,
 13798415,
 38333,
 11668123,
 14612626,
 1118708,
 8222040,
 20435065,
 1105324,
 14269023,
 10469137,
 1490849,
 362320,
 5584896,
 6228630,
 13575875,
 629467,
 1078820,
 904995,
 623691,
 8013552,
 13940223,
 8133810,
 6903946,
 1606835,
 11540529,
 20435086,
 12803857,
 10365657,
 6955612,
 1194778,
 23940713,
 19763709,
 137838,
 8415729,
 1923931,
 20434633,
 6095312,
 22788731,
 23940758,
 7029084,
 22790684,
 13224296,
 19227819,
 163052,
 17108553,
 5785285,
 148734,
 9106928,
 12375431,
 5647753,
 11354719,
 164400,
 924543,
 1033873,
 7786943,
 20568764,
 14372821,
 17963287,
 1825406,
 6487123,
 21210913,
 493698,
 20435467,
 7878138,
 19309980,
 20142211,
 17745746,
 1323466,
 411269,
 684765,
 6921985,
 18328659,
 23940808,
 19295935,
 17614908,
 22785305,
 13169451,
 1488755,
 11276451,
 5235,
 1426225,
 10805001,
 693888,
 11980360,
 1569324,
 19580798,
 7543513,
 8258929,
 7088555,
 19580762,
 2106471,
 6197633,
 8437474,
 490594,
 8902118,
 6059216,
 6576259,
 17642882,
 15002566,
 10726423,
 1814191,
 10045081,
 961114,
 22924054,
 2936,
 5993863,
 13547032,
 383182,
 867402,
 5098906,
 11073828,
 90002,
 12705400,
 1797783,
 6463284,
 5307556,
 1683481,
 5997271,
 14534,
 17517042,
 1613459,
 154124,
 17473680,
 17260796,
 1330372,
 20339788,
 8730033,
 11553624,
 22878876,
 7535112,
 12754712,
 23052086,
 1387751,
 15343534,
 767016,
 264366,
 1691684,
 9777,
 708109,
 759064,
 7092443,
 384949,
 15264631,
 5781452,
 15992116,
 11974871,
 11882987,
 23388471,
 1097557,
 7833377,
 12315163,
 22756903,
 11669936,
 11471286,
 1011338,
 166138,
 5994184,
 11944614,
 1704452,
 818746,
 11432308,
 13786131,
 22847944,
 22773125,
 6885143,
 140626,
 1230046,
 18783798,
 5963319,
 8438385,
 9920422,
 11239012,
 1592998,
 6754358,
 17353208,
 1966979,
 20930168,
 858041,
 11662294,
 39352,
 12925854,
 6492212,
 404158,
 14280329,
 184314,
 5336307,
 20870224,
 17757372,
 504882,
 12631093,
 7627222,
 18622656,
 5817487,
 6894289,
 171040,
 23940650,
 9736318,
 18908605,
 21676351,
 717375,
 111699,
 5139645,
 1213622,
 522878,
 18210793,
 11939107,
 10447083,
 18097823,
 867171,
 8871720,
 236788,
 514861,
 12631514,
 22935532,
 23096572,
 1459542,
 586936,
 11612755,
 281953,
 1710949,
 15512110,
 6558666,
 8889703,
 23348,
 24555148,
 8448347,
 5433812,
 26806,
 6074629,
 23573762,
 1314968,
 885357,
 13479677,
 751733,
 7283412,
 176100,
 15084154,
 14194301,
 5781413,
 10027403,
 14775340,
 6039821,
 20435479,
 528897,
 20436119,
 6249339,
 6070129,
 7383621,
 22773139,
 1021278,
 20320076,
 6451582,
 8067904,
 7194127,
 20459365,
 261601,
 12821978,
 6333012,
 1158727,
 10205882,
 11246106,
 4706,
 20909498,
 5660537,
 95633,
 14435823,
 5194170,
 1120817,
 22010689,
 5232242,
 22396336,
 7301201,
 21940087,
 16681844,
 18557896,
 8897911,
 6596668,
 20870195,
 286194,
 8046699,
 22982181,
 6814512,
 12089983,
 22907146,
 738477,
 7622047,
 13581648,
 1388040,
 12252122,
 11119569,
 11535573,
 6297735,
 14178660,
 22566879,
 9875825,
 20138857,
 891139,
 1421511,
 12019289,
 10242508,
 11910766,
 1055921,
 20145731,
 1489813,
 1290766,
 926745,
 115811,
 20923151,
 8245124,
 5300273,
 5449759,
 186984,
 7721422,
 16096159,
 136323,
 100735,
 20421868,
 299541,
 17741893,
 6068431,
 6959382,
 13418598,
 6712853,
 1869193,
 7168186,
 5283967,
 22278062,
 17918127,
 22713453,
 14699004,
 6428990,
 6293497,
 1425795,
 16168364,
 208051,
 19206604,
 9050137,
 10758514,
 1421622,
 10861232,
 11801841,
 692471,
 1888609,
 901531,
 1017785,
 290409,
 11391385,
 6625594,
 11622907,
 149260,
 5288993,
 13165693,
 3847,
 2077128,
 1957771,
 8255230,
 16886043,
 635582,
 12289961,
 19850682,
 10917889,
 23943916,
 22599574,
 1241011,
 5149147,
 651562,
 2069640,
 12246751,
 1573678,
 20870526,
 1529783,
 79470,
 8441272,
 14176734,
 7859130,
 803689,
 10935338,
 7919342,
 1042042,
 7639286,
 16705553,
 88168,
 14950048,
 1364184,
 290580,
 22768293,
 780352,
 7305846,
 7749454,
 131974,
 2171010,
 7588821,
 5722633,
 9733637,
 10778917,
 17665091,
 686634,
 781647,
 13581886,
 8141669,
 198486,
 6062227,
 1137406,
 806469,
 7284324,
 21609968,
 6967026,
 9008330,
 13574476,
 33637,
 18595626,
 1842873,
 8316515,
 11992914,
 1347598,
 1126542,
 8049391,
 1359792,
 18347033,
 1074108,
 1393529,
 11777533,
 7737978,
 20778101,
 9746058,
 22337400,
 8656729,
 386342,
 7993121,
 5485868,
 1412159,
 11396202,
 5696409,
 1896736,
 5398769,
 10145787,
 10280429,
 5641597,
 485869,
 7724070,
 5842449,
 1817783,
 12096464,
 5099028,
 11920517,
 8402642,
 8155017,
 11279416,
 14786285,
 11183514,
 138485,
 1429502,
 1655349,
 7761340,
 5838495,
 749462,
 11592905,
 14178689,
 9842766,
 9630274,
 20277323,
 921809,
 19250668,
 14578167,
 21198126,
 12823312,
 2221604,
 14624274,
 6829469,
 21007746,
 835880,
 7980435,
 642183,
 21673647,
 22274746,
 272507,
 6927006,
 791471,
 1681946,
 22773102,
 5286277,
 171151,
 13674993,
 2025548,
 20162173,
 12713358,
 97876,
 1428415,
 272137,
 24730,
 408969,
 1062811,
 22600017,
 20274568,
 6590729,
 1289228,
 9664464,
 465520,
 2120761,
 1509604,
 538468,
 14178644,
 7177,
 20496411,
 7538983,
 11172472,
 150978,
 572889,
 1895509,
 9629199,
 20870513,
 17759200,
 1364393,
 6402497,
 20477189,
 2105269,
 10844322,
 81526,
 21763067,
 303068,
 1104694,
 799943,
 6415516,
 8232486,
 5404932,
 7556253,
 1737537,
 19174976,
 6806676,
 16540374,
 496523,
 8285291,
 24595132,
 8024890,
 14208255,
 5710994,
 8058199,
 5873260,
 8842720,
 8837908,
 17603527,
 22547829,
 18011505,
 22541259,
 5569999,
 6051855,
 23013772,
 14309175,
 1527988,
 18270123,
 240622,
 1501162,
 11969859,
 7638545,
 6047040,
 1068300,
 7488040,
 236099,
 16940,
 1226870,
 5225122,
 12561813,
 9814232,
 1268679,
 14178932,
 7050895,
 6879081,
 6808681,
 19841330,
 18911470,
 8447600,
 79499,
 335850,
 12999702,
 1211955,
 1603117,
 6287591,
 12897880,
 15169513,
 13536645,
 684590,
 12844511,
 14934821,
 9769892,
 6719891,
 13010602,
 646554,
 2200696,
 1789357,
 7826001,
 5351057,
 2408,
 596561,
 13444404,
 2043501,
 6703065,
 22113868,
 5654399,
 8477739,
 15093785,
 5111550,
 903579,
 16559849,
 19986300,
 5149530,
 13552,
 19473889,
 23051730,
 1017635,
 18025738,
 7695098,
 7929430,
 665274,
 11214368,
 1226361,
 22490460,
 21806223,
 6123480,
 942105,
 1670022,
 12729238,
 8957621,
 8844090,
 5925870,
 5592869,
 15660482,
 10027435,
 646084,
 6066290,
 328019,
 23933441,
 13326559,
 1066858,
 6924018,
 18577665,
 12453516,
 5393060,
 21848910,
 6284762,
 11778803,
 7589843,
 1062596,
 508081,
 8944607,
 769646,
 21633949,
 5157618,
 884762,
 22010863,
 19781127,
 18854633,
 843608,
 23366923,
 1569607,
 8415764,
 85672,
 11515804,
 7783538,
 2031998,
 1596921,
 18505564,
 5243704,
 15758559,
 953109,
 5292436,
 12625870,
 590798,
 6287366,
 5352591,
 8854860,
 484681,
 11359976,
 18755744,
 18153071,
 415642,
 23509637,
 1560891,
 7771955,
 21988781,
 8535299,
 18625909,
 7796093,
 13214532,
 1899930,
 158840,
 7405861,
 22695735,
 9079536,
 5913174,
 17302049,
 5228780,
 12221980,
 1735645,
 7331398,
 12968338,
 14804144,
 1463548,
 11192988,
 9791771,
 391077,
 1645072,
 6528765,
 18447783,
 316783,
 9528,
 7739981,
 21946504,
 758886,
 8335069,
 42715,
 15636728,
 21836059,
 20147149,
 1924490,
 1237889,
 1320746,
 5399629,
 689056,
 951893,
 6964508,
 29015,
 13402025,
 9785250,
 13529709,
 1022276,
 1922068,
 8740896,
 9152992,
 1124099,
 12788548,
 1137254,
 8905321,
 17945262,
 5147779,
 1949685,
 6955152,
 806285,
 5768431,
 18177411,
 12926623,
 10469494,
 12053574,
 7407002,
 7706886,
 1647703,
 24555069,
 8669993,
 5153244,
 11533247,
 12315830,
 6854944,
 5184541,
 11603678,
 321278,
 11453963,
 7521524,
 8577970,
 15961740,
 13082286,
 8302428,
 7732084,
 16893393,
 12420966,
 434122,
 10494365,
 8472624,
 7900978,
 10448126,
 9766568,
 18610980,
 6871294,
 1032267,
 6262640,
 13896693,
 18933561,
 12817359,
 12723738,
 54350,
 5270295,
 6424107,
 1567720,
 7261771,
 1548193,
 6118486,
 438707,
 1907980,
 14092039,
 7111688,
 1641051,
 12872303,
 9719969,
 5804673,
 7551166,
 14178849,
 14584097,
 21218921,
 18707295,
 14178774,
 6585686,
 5754153,
 1030814,
 12126980,
 5805473,
 14704634,
 5836693,
 9709635,
 13423779,
 11190491,
 456702,
 10059061,
 5943253,
 325525,
 6195493,
 9531,
 12234042,
 10318355,
 22536439,
 21927729,
 321959,
 1824947,
 5739695,
 12467363,
 22534896,
 5778362,
 7216787,
 9685878,
 498163,
 18242608,
 10132638,
 2106987,
 256665,
 671073,
 14023149,
 16175651,
 170684,
 321187,
 10037975,
 20958577,
 1393979,
 8001478,
 13790574,
 6388650,
 22813033,
 12490154,
 19768660,
 6721001,
 17284552,
 5922986,
 1827693,
 1008525,
 162973,
 1730345,
 11421835,
 14178831,
 5875034,
 8254718,
 1364945,
 9792952,
 686298,
 7675528,
 1251539,
 1464879,
 13882199,
 10264156,
 10424748,
 8523973,
 9672997,
 1517146,
 8369997,
 396848,
 1743072,
 619778,
 17693048,
 1676344,
 640093,
 14790970,
 5368801,
 16965493,
 8958689,
 10788309,
 647795,
 8062896,
 22466064,
 9849319,
 782963,
 341776,
 7788374,
 1137935,
 6001023,
 1864681,
 1132014,
 15208993,
 21909001,
 22461742,
 112404,
 8154222,
 1386950,
 13354238,
 8166671,
 318030,
 365006,
 15546627,
 13495731,
 5147059,
 21793422,
 2228919,
 8193768,
 10495864,
 7747289,
 777893,
 7039499,
 22284128,
 330126,
 11701749,
 10499653,
 8620197,
 16792729,
 8973531,
 21377551,
 17081347,
 18976689,
 8959343,
 11409925,
 8262745,
 ...]

In [33]:
items = pd.read_csv('../../data/datasets/items/data.csv', sep=',', encoding='utf-8-sig')
print(len(items))
items.head()

5819

,id,name,price,category,brand,brand orgin,orgin,sku,mota
0,134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."
1,141837724,"Bánh gạo ngọt Cúc Cu 130g, không qua chiên dầu...",15000,Bách Hóa Online/Đồ Ăn Vặt/Bánh kẹo khác,Tràng An,Việt Nam,Việt Nam,2746878157322,\n\n\n\nBÁNH GẠO CÚC CU - THƠM NGON CHUẨN GU\n...
2,68841415,Thùng Sữa Chua Uống Lên Men Tự Nhiên Dutch Lad...,274000,Bách Hóa Online/Sữa và các Sản phẩm từ sữa/Sữa...,Dutch Lady,Việt Nam,Việt Nam,5050032447002,Được làm từ 100% sữa lên men tự nhiên \nGiúp d...
3,140161010,Lạp xưởng tươi Tiêu Sọ – Thành Hiệp Long – H...,101000,Bách Hóa Online/Thực phẩm Đóng hộp và Khô/Đặc ...,Thành Hiệp Long,Việt Nam,Việt Nam,6196840671139,- Được sản xuất tương tự như lạp xưởng tươi tr...
4,130084171,Cà phê rang xay Original 1 - The Coffee House ...,48000,Bách Hóa Online/Đồ uống - Pha chế dạng bột/Cà phê,The Coffee House,Việt Nam,Việt Nam,1248124582745,Khởi đầu buổi sáng tại nhà bằng một ly cà phê ...

In [34]:
items['category'].value_counts()

Nhà Sách Tiki/Sách tiếng Việt/Sách văn học/Tiểu Thuyết                                 478
Túi thời trang nam/Túi đeo chéo nam                                                    189
Điện Thoại - Máy Tính Bảng/Điện thoại Smartphone                                       146
Túi thời trang nam/Ví nam/Ví nam ngang                                                 136
Điện Thoại - Máy Tính Bảng/Điện thoại bàn                                               81
                                                                                      ...
Hàng Quốc Tế/Thời Trang/Thời trang nữ/Giày dép nữ                                        1
Bách Hóa Online/Gia Vị và Chế Biến/Nấu ăn và làm bánh/Pudding và gelatin                 1
Bách Hóa Online/Gia Vị và Chế Biến/Nấu ăn và làm bánh/Chocolate và cacao nướng bánh      1
Bách Hóa Online/Gia Vị và Chế Biến/Dầu ăn/Dầu olive                                      1
Túi thời trang nữ/Túi đeo chéo, túi đeo vai nữ/Túi đeo chéo dạo phố                      1
Name: category, Length: 778, dtype: int64

In [36]:
merge_rating_item = pd.merge(rating, items, how='inner', left_on = 'item id', right_on='id')
print(len(merge_rating_item))
merge_rating_item.head()

181484

,user id,item id,rating,timestamp,comment,id,name,price,category,brand,brand orgin,orgin,sku,mota
0,11535573,134309716,1,1637755666,"đơn thanh toán rồi, không nhận được hàng nhưng...",134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."
1,14234089,134309716,5,1637493778,Nhận được hàng quá đỗi vui mừng luôn vì đặt cũ...,134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."
2,8635387,134309716,5,1636985615,"Bia Tết, date xa 10/2022, m mua flash sale trê...",134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."
3,7505804,134309716,5,1637666887,"Hàng tốt , giao hàng nhanh . Đóng gói kỹ. Hàng...",134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."
4,1426225,134309716,5,1636724569,"Đóng gói cẩn thận, giao hàng nhanh. SP date mớ...",134309716,Thùng 24 lon bia Tiger 330ml - Bao bì Xuân,355000,Bách Hóa Online/Đồ uống có cồn/Bia và Nước hoa...,Tiger Beer,Singapore,Việt Nam,8107837797474,"\nRa đời tại Singapore từ năm 1932, Tiger là n..."

In [40]:
num_rating_per_category = merge_rating_item.groupby('category').count()['rating']
print(num_rating_per_category)
average_rating_per_category = merge_rating_item.groupby('category').mean()['rating']
print(average_rating_per_category)

<class 'pandas.core.series.Series'>
category
Bách Hóa Online/Bánh kẹo/Bánh                                              995
Bách Hóa Online/Bánh kẹo/Kẹo                                               300
Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà bếp/Sản phẩm tẩy đa năng      150
Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà cửa/Diệt côn trùng            150
Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà cửa/Giấy vệ sinh              150
                                                                          ...
Đồ Chơi - Mẹ & Bé/Tã, Bỉm/Tã quần                                         1310
Đồ Chơi - Mẹ & Bé/Đồ chơi/Lắp ghép, Xếp hình                                 2
Đồ Chơi - Mẹ & Bé/Đồ chơi/Đồ chơi giáo dục/Sách vải                        136
Đồ Chơi - Mẹ & Bé/Đồ chơi/Đồ chơi mô hình/Mô hình giấy                       5
Đồ Chơi - Mẹ & Bé/Đồ dùng cho bé/Đồ dùng vệ sinh cho bé/Sữa tắm cho bé     150
Name: rating, Length: 412, dtype: int64
category
Bách Hóa Online/Bánh kẹo/Bánh                                             4.584925
Bách Hóa Online/Bánh kẹo/Kẹo                                              4.816667
Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà bếp/Sản phẩm tẩy đa năng     4.746667
Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà cửa/Diệt côn trùng           4.140000
Bách Hóa Online/Chăm sóc nhà cửa/Vệ sinh nhà cửa/Giấy vệ sinh             4.480000
                                                                            ...
Đồ Chơi - Mẹ & Bé/Tã, Bỉm/Tã quần                                         4.268702
Đồ Chơi - Mẹ & Bé/Đồ chơi/Lắp ghép, Xếp hình                              5.000000
Đồ Chơi - Mẹ & Bé/Đồ chơi/Đồ chơi giáo dục/Sách vải                       4.382353
Đồ Chơi - Mẹ & Bé/Đồ chơi/Đồ chơi mô hình/Mô hình giấy                    4.600000
Đồ Chơi - Mẹ & Bé/Đồ dùng cho bé/Đồ dùng vệ sinh cho bé/Sữa tắm cho bé    4.480000
Name: rating, Length: 412, dtype: float64

In [42]:
num_rating_per_user = merge_rating_item.groupby('user id').count()['rating']
print(num_rating_per_user)
average_rating_per_user = merge_rating_item.groupby('user id').mean()['rating']
print(average_rating_per_user)

user id
27          5
38          3
79          1
100         1
122         1
           ..
25469658    1
25473447    1
25480227    1
25495032    1
25503971    1
Name: rating, Length: 139864, dtype: int64
user id
27          5.000000
38          4.666667
79          5.000000
100         5.000000
122         5.000000
              ...
25469658    5.000000
25473447    5.000000
25480227    5.000000
25495032    5.000000
25503971    1.000000
Name: rating, Length: 139864, dtype: float64

In [43]:
rating

,user id,item id,rating,timestamp,comment
0,11535573,134309716,1,1637755666,"đơn thanh toán rồi, không nhận được hàng nhưng..."
1,14234089,134309716,5,1637493778,Nhận được hàng quá đỗi vui mừng luôn vì đặt cũ...
2,8635387,134309716,5,1636985615,"Bia Tết, date xa 10/2022, m mua flash sale trê..."
3,7505804,134309716,5,1637666887,"Hàng tốt , giao hàng nhanh . Đóng gói kỹ. Hàng..."
4,1426225,134309716,5,1636724569,"Đóng gói cẩn thận, giao hàng nhanh. SP date mớ..."
...,...,...,...,...,...
182767,13217950,68200264,4,1613972875,NaN
182768,11776972,68200264,5,1616850654,NaN
182769,13558485,68200264,5,1618238690,NaN
182770,17788999,68200264,5,1619419488,NaN
182771,10982765,68200264,4,1623241957,NaN

In [44]:
rating

,user id,item id,rating,timestamp,comment
0,11535573,134309716,1,1637755666,"đơn thanh toán rồi, không nhận được hàng nhưng..."
1,14234089,134309716,5,1637493778,Nhận được hàng quá đỗi vui mừng luôn vì đặt cũ...
2,8635387,134309716,5,1636985615,"Bia Tết, date xa 10/2022, m mua flash sale trê..."
3,7505804,134309716,5,1637666887,"Hàng tốt , giao hàng nhanh . Đóng gói kỹ. Hàng..."
4,1426225,134309716,5,1636724569,"Đóng gói cẩn thận, giao hàng nhanh. SP date mớ..."
...,...,...,...,...,...
182767,13217950,68200264,4,1613972875,NaN
182768,11776972,68200264,5,1616850654,NaN
182769,13558485,68200264,5,1618238690,NaN
182770,17788999,68200264,5,1619419488,NaN
182771,10982765,68200264,4,1623241957,NaN

In [51]:
rating = rating[rating.groupby('user id')['user id'].transform('count').ge(5)]
rating

,user id,item id,rating,timestamp,comment
0,11535573,134309716,1,1637755666,"đơn thanh toán rồi, không nhận được hàng nhưng..."
4,1426225,134309716,5,1636724569,"Đóng gói cẩn thận, giao hàng nhanh. SP date mớ..."
26,5419628,134309716,5,1636435846,Chất lượng tuyệt vời giá rẻ nhất \r\nGiao hàng...
30,15636728,134309716,5,1636758594,"sản phẩm mới bao bì đẹp mắt, chất lượng tốt, p..."
35,20732538,134309716,5,1637749098,"Sản phẩm chất lượng, nhân viên giao hàng dể th..."
...,...,...,...,...,...
182246,15084154,51949856,5,1619708424,"giao nhanh,sản phẩm chất lượng, giá hợp lý"
182376,924543,73890130,5,1617340585,"Túi nho gọn nhẹ, đựng được nhiều thứ. Chất luo..."
182486,11974871,75364035,5,1629802981,túi rất ok về chất liệu và kiểu dáng
182539,13669858,781708,4,1603340320,4sao cho shop vì giao hàng lâu chậm 1 tuần so ...
182560,6262640,781708,4,1635930531,NaN

In [55]:
len(rating['user id'].value_counts())

2040

In [83]:
import numpy as np
rating_train = pd.read_csv('../../data/datasets/ratings/data.csv', sep=',', encoding='utf-8')[:1000]
rating_train_arr = rating_train.values
formated_user_ids = rating_train['user id'].value_counts().index.tolist()
formated_user_ids
rating_train['formated user id'] = [0] * len(rating_train)

for i in range(len(formated_user_ids)):
    rows = np.where(rating_train_arr[:, 0] == formated_user_ids[i])
    
    rating_train_arr[rows, 4] = i

rating_train_arr

array([[11535573, 134309716, 1, 1637755666, 2],
       [14234089, 134309716, 5, 1637493778, 809],
       [8635387, 134309716, 5, 1636985615, 645],
       ...,
       [8258929, 2454355, 5, 1624073029, 0],
       [8258929, 2454355, 5, 1624072989, 0],
       [15284998, 2454355, 2, 1591705189, 965]], dtype=object)

In [8]:
rating_data = pd.read_csv('../../data/datasets/ratings/data.csv', sep=',', encoding='utf-8')
rating_data = rating_data[rating_data.groupby('user id')['user id'].transform('count').ge(5)]

formated_user_ids = rating_data['user id'].value_counts().index.tolist()
formated_item_ids = rating_data['item id'].value_counts().index.tolist()


rating_data['formated user id'] = [0] * len(rating_data)
rating_data['formated item id'] = [0] * len(rating_data)

rating_data_arr = rating_data.values


for i in range(len(formated_user_ids)):
    rows = np.where(rating_data_arr[:, 0] == formated_user_ids[i])
    rating_data_arr[rows, 5] = i

for i in range(len(formated_item_ids)):
    rows = np.where(rating_data_arr[:, 1] == formated_item_ids[i])
    rating_data_arr[rows, 6] = i

array([[11535573, 134309716, 1, ...,
        'đơn thanh toán rồi, không nhận được hàng nhưng chuyển trạng thái sang tab đã giao. rất ức chế mục đơn hàng, không chuyên nghiệp như bên shopee. đơn cập nhật giao hàng thành công nhưng khách xác nhận đã nhận mới chuyển sang tab giao thành công. ulatr rồi giờ khiếu nại ai',
        340, 348],
       [1426225, 134309716, 5, ...,
        'Đóng gói cẩn thận, giao hàng nhanh. SP date mới bao bì đẹp ❤️❤️❤️',
        180, 348],
       [5419628, 134309716, 5, ...,
        'Chất lượng tuyệt vời giá rẻ nhất \r\nGiao hàng nhanh chóng cẩn thận và chắc chắn',
        1131, 348],
       ...,
       [11974871, 75364035, 5, ...,
        'túi rất ok về chất liệu và kiểu dáng', 250, 1409],
       [13669858, 781708, 4, ...,
        '4sao cho shop vì giao hàng lâu chậm 1 tuần so với dự kiến, mẫu mã đẹp mua saleoff giá rẻ !',
        1734, 1222],
       [6262640, 781708, 4, ..., nan, 882, 1222]], dtype=object)

(18278, 7)
2569
1685
[0 1 2 ... 2566 2567 2568]
[0 1 2 ... 1682 1683 1684]
2569
1685
4029
14249